.edit-card-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-card-modal {
    padding: 20px;
    padding-top: 0;
    text-align: center;
    position: relative;
    /* max-width: 80%; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 90%;
}

.edit-card-modal button {
    margin-top: 10px;
}

.edit-card-left-side {
    left: 0;
    padding: 20px;
    flex: 3;
}


.del-btn,
.copy-card-btn,
.move-card-btn,
.members-button {
    width: 150px;
    margin-bottom: 10px;
    background-color: #d8d9d9bb;
    color: #070707;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #00c5a9;
    color: rgb(0, 0, 0);

    font-weight: bold;
}

.card-date-creation {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
}

.edit-card-right-side {
    height: full;
    right: 0;
    position: relative;

    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.del-btn {
    background-color: #ff4015b9;
    border: 1px solid #f53307;
    /* color: #fff; */
}

.del-btn:hover {
    background-color: #ff0000;
}

.del-btn-text {
    margin: 0;
}

.task-id-btn {
    background-color: #e6f7ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-id-text {
    font-weight: bold;
}

.card-title-edit-box {
    margin-top: 20px;
}

.card-title-edit-box input[type="text"],
.search-bar input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-card-title-btn {
    background-color: #17db05;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.comment-box {
    margin-bottom: 20px;
}

.comment-box-title {
    font-weight: bold;
}

.comment-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.comment-box button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn-box {
    position: absolute;
    top: 10px;
    right: 10px;
}



select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}